.avatar{
    position: absolute;
    right: 0;
    bottom: 35%;
    z-index: 50;
}
body{
    overflow: hidden;
}
.w-container{
    width: 80%;
}
.color-blue{
    color: #265169;
}
.right-center{
    right: 45%;
    bottom: 25%;
}
@media (max-width: 767px) {
    .avatar{
        right: -115px;
        bottom: 30%;
        height: 40%;
    }
    .w-container{
        width: 95%;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .avatar{
        right: -80px;
        bottom: 30%;
        height: 40%;
    }
  }
