body{
    overflow: hidden !important;
}
.avatar {
    position: absolute;
    right: 5% ;
    bottom: 10%;
    height:45%;
    width:25%;
  }
  button span {
    pointer-events: none;
  }
.top-of{
    z-index: 70;
}
.pill{
    padding: 0.25rem;
    width: 200px;
    height: 45px;
    margin: 5px;
}
body{
    overflow: hidden;
    height: 100vh;
}
.w-container{
    width: 80%;
}
.color-blue{
    color: #265169;
}
.right-center{
    right: 45%;
    bottom: 25%;
    pointer-events: none;
}
.hoverd-btn:hover{
  background-color: #265169;
}
.hoverd-btn.active{
    background-color: #265169;
  }
.top-center-btn{
    top: -65%;
    width: 10%;
    transition: .5s ease-in-out;
}
.project-card{
    width: 250px;
}
.project-card img{
    width: 100%;
}
.mt-30{
    margin-top: 10%;
}
.section-container{
    margin: 0 4%;
}
.project-container{
    width: 100%;
  }
@media (max-width: 767px) {
   :root{
    --dimension:5rem;
   }
   .avatar {
       bottom: 12%;
       right: 0;
       height:40%;
  }
  .avatar ul{
    height: 50%;
  }
    .w-container{
        width: 95%;
    }
    .top-center-btn{
        top: -70%;
        width: 12%;
        left: 34%;
        transition: .5s ease-in-out;
    }
    .right-center{
        right: 40%;
        bottom: 30%;
    }
    .res{
        width: 70%;
    }
    .project-card img{
        width: 160px;
    }

  }
  @media (min-width: 480px) and (max-width: 1023px) and (orientation: landscape) {
    body{
        overflow: auto !important;
    }
    .top-section{
        height: 0vh !important;
    }
    .intro p{
        font-size: larger;
    }
    .intro{

        margin-top: 0 !important;
    }
    .avatar {
        position: absolute;
        right: 6% !important;
        bottom: 5%;
        height:60% !important;
        width: 40% !important;
      }
      .avatar ul{
        align-items: center ;
        margin-top: 0;
      }
      .right-center{
        right: 47% !important;
        bottom: 0;
      }
      .bottom-section-active{
        height: 100% !important;
        overflow: auto !important;
      }
    

}
  @media (min-width: 768px) and (max-width: 1023px) {

      body{
        overflow: hidden;
      }
      .avatar{
        right: 0;
        height:50%;
      }
      .avatar ul{
        height: 60%;
        width: 50%;
        align-items: center;
      }
      .avatar img{
        width: 35%;
        height: 80%;
      }
      .right-center{
        right: 42%;
      }
  }

@keyframes showTech {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}
.showTech{
    animation: showTech 0.5s ease-in-out;
}
@keyframes showAvatar {
    from {
        right: -60%;
      }
      to {
        right: var(--avatar-right);
      }
}
.showAvatar{
    animation: showAvatar 0.5s ease-in-out;
}