body{
  overflow: hidden;
}
.avatar {
    bottom: 15%;
    height:45%;
    width:25%;
  }
  button span {
    pointer-events: none;
  }
.top-of{
    z-index: 70;
}
.pill{
    padding: 0.25rem;
    width: 200px;
    height: 45px;
    margin: 5px;
}
.w-container{
    width: 80%;
}
.color-blue{
    color: #265169;
}
.right-center{
    right: 45%;
    bottom: 25%;
    pointer-events: none;
}
.hoverd-btn:hover{
  background-color: #265169;
}
.hoverd-btn.active{
    background-color: #265169;
  }
.top-center-btn{
    top: -65%;
    width: 10%;
    transition: .5s ease-in-out;
}
.project-card{
    width: 250px;
}
.project-card img{
    width: 100%;
}
.mt-30{
    margin-top: 10%;
}
.section-container{
    margin: 0 4%;
}
.project-container{
    width: 100%;
  }
@media (max-width: 767px) {
   :root{
    --dimension:5rem;
   }
   .avatar {
       bottom: 17%;
       right: 0;
       height:40%;
  }
  .avatar ul{
    height: 50%;
  }
    .w-container{
        width: 95%;
    }
    .top-center-btn{
        top: -70%;
        width: 12%;
        left: 34%;
        transition: .5s ease-in-out;
    }
    .right-center{
        right: 40%;
        bottom: 30%;
    }
    .res{
        width: 70%;
    }
    .project-card img{
        width: 160px;
    }

  }
  @media (max-height:600px) and (max-width: 1023px) and (orientation: landscape) {
    body{
        overflow: auto ;
    }
    .top-section{
        height: 0vh !important;
    }
    .bottom-section-active{
      overflow: auto !important;
    }
    .intro{
      padding-top: 0 !important;
    }
    .intro p{
        font-size: larger;
    }
    .intro{
        margin-top: 0 !important;
    }
    .avatar {
        position: relative !important;
        justify-content: space-around !important;
        bottom: 0 !important;
        height: 45%;
        
      }.avatar img{
        border-radius: 50%;
        width: 22% !important;
        height: 100% !important;
      }

      .avatar ul{
        align-items: center ;
        margin-top: 0;
      }
      .right-center{
        right: 47% !important;
        bottom: 0;
      }
      .bottom-section-active{
        height: 100% !important;
        overflow: auto !important;
      }
    
      .intro{
        padding-top: 0 !important;
      }
}
  @media (min-width: 768px) and (max-width: 1023px) {
      .avatar{
        justify-content: space-around !important;
        right: 0;
        bottom: 11%;
        height: 45%;
        height:50%;
      }
      .avatar ul{
        height: 60%;
        width: 60%;
        align-items: center;
      }
      .avatar img{
        width:13rem;
        height: 11rem;
      }
      .right-center{
        right: 42%;
      }
  }

